<mat-card class="article-card">
  <div class="header-image">
      <img mat-card-image class="article-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

      <div class="over-container">
        <div class="overlay-text">Hello</div>
      </div>
  </div>
  <mat-card-content fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start" >
    <div>By Muhwezi Deo</div>
    <div>November 24 2017</div>
    
  </mat-card-content>
  <mat-card-content>
    <h1>Trip that you’ll never ever forget</h1>
  </mat-card-content>
  <mat-card-content>
      Quisque dictum eros nisl, a maximus massa accumsan non. Aliquam erat volutpat. Quisque at finibus dui. Praesent…
  </mat-card-content>
 
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between start">
    <mat-icon color="primary">bookmark</mat-icon>
    <mat-icon matBadge="15" matBadgeColor="primary">comment</mat-icon>
    <!-- // TODO donot remove -->
    <!-- <i class="material-icons">thumb_down</i>
    <i class="material-icons">thumb_up</i>
    <i class="material-icons">favorite</i> -->

  </div>
</mat-card>
