<mat-card class="article-card">
  <div class="header-image">
      <img mat-card-image class="article-image" [src]="article.image || 'https://www.floyd.org/PublishingImages/article-placeholder.jpg'" alt="{{article.title}}">

      <div class="over-container">
        <div class="overlay-text">{{article.title}}</div>
      </div>
  </div>
  <mat-card-content fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start" >
    <div>By {{article.author.username}}</div>
    <div>{{ article.created_at | date}}</div>
  </mat-card-content>
  <mat-card-content>
    <h1>{{article.description}}</h1>
  </mat-card-content>
  <mat-card-content>
    <p class="article-body-text">{{ article.body.slice(0,15)+'......'}} </p>
    
    <button mat-raised-button color="primary">Readmore</button>
  </mat-card-content>
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between start">
    <mat-icon color="{{ article.hasBookMarked ? 'primary' : null}}">bookmark</mat-icon>
    <mat-icon matBadge="{{article.comments.length}}" matBadgeColor="primary">comment</mat-icon>
    <!-- // TODO donot remove -->
    <!-- <i class="material-icons">thumb_down</i>
    <i class="material-icons">thumb_up</i>
    <i class="material-icons">favorite</i> -->

  </div>
</mat-card>
