<mat-chip-list aria-label="Fish selection" fxLayout="row wrap" fxLayoutAlign="space-around center"  fxLayoutGap="10px" class="taglist">
  <mat-chip color="primary" selected>All</mat-chip>
  <mat-chip>One fish</mat-chip>
  <mat-chip>Two fish</mat-chip>
  <mat-chip >Primary fish</mat-chip>
  <mat-chip >Accent fish</mat-chip>
  <mat-chip >Primary fish</mat-chip>
  <mat-chip >Primary fish</mat-chip>
  <mat-chip>Primary fish</mat-chip>
  <mat-chip>Primary fish</mat-chip>
  <mat-chip>Primary fish</mat-chip>
</mat-chip-list>
